


.navbar-container {
    background-color: rgba(17, 80, 139, 0.7);
    width:100%;
    float: left;
}

#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

li {
    font-family: 'Poiret One', cursive;
    font-size: 13px;
    letter-spacing: 2px;
    color: white;
    display: inline-flex;
    margin-right: 7px;
    padding: 10px;
    border-radius: 50px;
    float: right;
}

.home-section .name {
    text-align: left;
    text-transform: uppercase;
    color: rgb(58, 109, 174);
    font-size: 60px;
    padding-top: 20px;
    margin: 5px;
}

.home-section .profession {
    text-align: left;
    text-transform: uppercase;
    color: rgb(58, 109, 174);
    font-size: 40px;
    font-style: italic;
    margin: 5px;
}